<!-- get the current authors name, get it from the defined  model in route in Author -->
<!-- installed body-parser package to make input fields easier to access -->
<div>
    <label>Title</label>
    <input type="text" name="title" value="<%= book.title %>">
</div>
<div>
    <label>Author</label>
    <select name="author">
        <!-- book.author since the author is an id type in the book model -->
        <% authors.forEach(author => { %>
            <% if (author.id === book.author) { %>
            <option selected label="<%= author.name %>" value="<%= author.id %>">
            <% } else { %>
            <option label="<%= author.name %>" value="<%= author.id %>">
            <% } %>
        <% }) %>
    </select>
</div>
<div>
    <label>Publish Date</label>
    <!-- convert publishDate to correct format, remove 'T' and time to satisfy date type -->
    <input type="date" name="publishDate"
            value="<%= book.publishDate == null ? '' : 
            book.publishDate.toISOString().split('T')[0] %>">
</div>

<div>
    <label>Page Count</label>
    <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>">
  </div>
  </div>
  <div>
    <label>Cover</label>
    <!-- file inputs cannot store input value -->
    <input type="file" name="cover" class="filepond">
  </div>
  <div>
    <label>Description</label>
    <textarea name="description"><%= book.description %></textarea>
  </div>