<h2>New Book</h2>
<!-- post request, post route, use form-->
<form action="/books" method="POST">
  <%- include('_form_fields.ejs') %> 
  <a href="/books">Cancel</a>
  <button type="submit">Create</button>
</form>