<!-- display if error message is defined -->
<!-- wrapped in if statement, it will not be outputed in the HTML client, just run of -->
<% if (locals.errorMessage != null) { %>
    <%= errorMessage %>
<% } %>