<!-- get the current authors name, get it from the defined  model in route in Author -->
<!-- installed body-parser package to make input fields easier to access -->
<label>Name</label>
<input type="text" name="name" value="<%= author.name %>">