<h2>Edit Author</h2>
<!-- post request, post route, use form-->
<form action="/authors/<%= author.id  %>?_method=PUT" method="POST">
  <%- include('_form_fields.ejs') %> 
  <a href="/authors/<%= author.id %>">Cancel</a>
  <button type="submit">Update</button>
</form>