<h2>Search Authors</h2>

<!-- get route, get request for taking data from 'authors' -->
<form action="/authors" method="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>">
  <button type="submit">Search</button>
</form>
<br>

<!-- for each author, run output the author name -->
<% authors.forEach(author => { %>
  <div><%= author.name %></div>
  <a href="/authors/<%= author.id  %> ">View</a>
  <a href="/authors/<%= author.id  %>/edit ">Edit</a>
  <%- include('../partials/deleteForm', 
          { url: `/authors/${author.id}`})  %>      
<% }) %>