<h2>New Author</h2>
<!-- post request, post route, use form-->
<form action="/authors" method="POST">
  <%- include('_form_fields.ejs') %> 
  <a href="/authors">Cancel</a>
  <button type="submit">Create</button>
</form>